

body{
    
    background-image: url("../images/cheap_diagonal_fabric.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header{
    background-color: white;
    margin-bottom: 10px;
    padding: 40px;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.name{
    background-color: #4aaaa5;
    color: white;
    float: left;
    position: relative;
    width: 200px;
    height: 50px;
    bottom: 10px;
    text-align: center;
    font-size: 22px;
}

.link{
    float: right;
    position: relative;
    background-color: white;
    color: #cccccc;
    border-left: .5px solid #cccccc;
    padding: 10px;
}

.main{
    float: left;
    width: 650px;
    height: 650px;
    margin-left: 95px;
    background-color: white;
    border-bottom: 2px solid #cccccc;
    overflow: auto;
    padding: 0px 15px;
    margin-bottom: 10px;
}

.profpic{
    height: 200px;
    width: 150px;
    float: left;
    bottom: 200px;
    border: .5px solid #cccccc;
    margin: 20px;
}

p{
    line-height: 35px;
    font-size: 18px;
    color: #777777;
}

h2{
    color:#4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding: 20px 5px;
}

footer{
    background-color: black;
    padding: 25px;
    border-top: 5px solid #4aaaa5;
    clear: both;
    color: #cccccc;
    text-align: center;
}
.aside{
    float: left;
    padding: 30px;
    background-color: white;
    width: 270px;
    height: 200px;
    margin-left: 20px;
    border: 2px solid #cccccc;
}

.links{
    float: left;
    padding: 10px;
}